<form [formGroup]="form">

    <div class="form-group">
        <label for="oldPass">Old Password</label>
        <input
            formControlName="oldPass"
            id="oldPass" 
            type="password" 
            class="form-control">
            <div *ngIf="oldPass.pending">
                <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>  Checking if it's correct old pass
            </div>
            <div *ngIf="oldPass.touched && oldPass.invalid" class="alert alert-danger"> 
                <div *ngIf="oldPass.errors.required">
                    Old pass is required
                </div>
                <div *ngIf="oldPass.errors.wrongPass">
                    This is not the current password
                </div> 
            </div>
    </div>

    <div class="form-group">
        <label for="newPass">New Password</label>
        <input
            formControlName="newPass"
            id="newPass" 
            type="password" 
            class="form-control">
            <div *ngIf="newPass.touched && newPass.invalid" class="alert alert-danger"> 
                <div *ngIf="newPass.errors.required">
                    New pass is required
                </div>
                <div *ngIf="newPass.errors.minlength">
                    New pass should be at least {{newPass.errors.minlength.requiredLength}} characters
                </div> 
                <div *ngIf="newPass.errors.cannotContainSpace">
                        New pass cannot contain space
                </div> 
            </div>
    </div>

    <div class="form-group">
        <label for="confirmPass">Confirm Password</label>
        <input
            formControlName="confirmPass"
            id="confirmPass" 
            type="password" 
            class="form-control">
            <div *ngIf="confirmPass.touched && confirmPass.invalid" class="alert alert-danger"> 
                <div *ngIf="confirmPass.errors.required">
                    Confirm pass is required
                </div>
            </div>
            <!-- we put the first condition below to avoid displaying the message when user didnt type Confirm Pass yet -->
            <div *ngIf="confirmPass.valid && form.touched && form.invalid" class="alert alert-danger"> 
                <div *ngIf="form.errors.passShouldMatch">
                    This password doesnt match with the one above
                </div> 
            </div>
    </div>

    <button class="btn btn-primary" [disabled]="form.invalid">Save</button>

</form>